/*
 * Base
 */
body {
	margin: 0;
	padding: 23px;
	padding: 1.44rem;
	max-width: 440px;
	color: #222;
}

@media (max-width: 600px) {
	body {
		padding: 2.88rem;
	}
}

@media screen and (min-width: 1280px) {
	body {
		padding: 4.32rem;
	}
}

/*
 * Typography
 */
@font-face {
	font-family: 'NeueHaasUnicaPro-Light';
	src: url('2E4340_0_0.woff') format('woff');
}

body {
	font-family: 'NeueHaasUnicaPro-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
	line-height: 1.2;
	font-weight: normal;
}

h1 {
	margin: 0 0 46px 0;
	margin: 0 0 2.88rem 0;
	font-size: 1em;
}

h2 {
	margin: 0;
	font-size: 1.44em;
}

p {
	margin: 0 0 16px 0;
	margin: 0 0 1rem 0;
	line-height: 1.4;
}

a {
	color: #222;
	text-decoration: none;
}

p > a {
	padding-bottom: 1px;
	border-bottom: 1px solid #222;
}

/*
 * Header
 */
header {
	margin-bottom: 23px;
	margin-bottom: 1.44rem;
}

/*
 * Main
 */
main {
	margin-bottom: 69px;
	margin-bottom: 4.32rem;
}

main:last-child {
	margin-bottom: 0;
}

/*
 * Footer
 */
footer > a {
	margin-right: 16px;
	margin-right: 1rem;
}

@media screen and (min-height: 768px){
	footer {
		position: absolute;
		bottom: 1.44rem;
	}
}

@media screen and (min-width: 600px) and (min-height: 768px){
	footer {
		position: absolute;
		bottom: 2.88rem;
	}
}

@media screen and (min-width: 1280px) and (min-height: 768px){
	footer {
		position: absolute;
		bottom: 4.32rem;
	}
}