<div class="p-4 sm:px-8 sm:py-4 md:px-16 md:py-8 lg:text-lg lg:leading-none lg:px-12 lg:py-8 xl:p-0 xl:sticky xl:top-0 xl:h-screen xl:flex xl:flex-wrap xl:w-14">
  <p class="xl:flex xl:leading-snug xl:ml-4 xl:my-5 xl:writing-mode-rl xl:transform xl:rotate-180">
    <a class="mr-4 xl:mr-0 xl:mb-8" href="https://twitter.com/aminalhazwani">
      Twitter<span class="ml-1 xl:ml-0 xl:mt-2">↗</span>
    </a>
    <a class="mr-4 xl:mr-0 xl:mb-8" href="https://github.com/aminalhazwani/">
      GitHub<span class="ml-1 xl:ml-0 xl:mt-2">↗</span>
    </a>
    <a class="mr-4 xl:mr-0" href="https://www.linkedin.com/in/aminalhazwani/">
      LinkedIn<span class="ml-1 xl:ml-0 xl:mt-2">↗</span>
    </a>
    <span class="xl:flex-grow"></span>
    <a class="hidden group lg:flex lg:flex-row-reverse lg:absolute lg:top-4 lg:right-12 xl:flex-row xl:relative xl:top-auto xl:right-auto xl:transform xl:rotate-180" href="#info">
      Info<span class="opacity-0 transform -translate-y-2 transition ease-in-out duration-200 group-hover:opacity-100 group-hover:translate-y-0 lg:mr-2 xl:mr-0 xl:inline-block xl:mt-2 xl:-rotate-90">↓</span>
    </a>
  </p>
</div>