<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 pt-4 px-4 md:pt-8 md:px-8 lg:pt-4 lg:px-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-3xl md:text-4xl xl:text-5xl">Design Ops and more&nbsp;<br class="hidden lg:block">at Accurat</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <h3 class="text-xl xl:text-2xl">
        Leading a 30+ group of data visualization designers, engineers and scientists on multiple projects. Supporting the execution and roll out of all design.
      </h3>
    </div>

    <div class="row-start-2 row-span-1 col-start-1 col-span-8">
      <div class="flex mb-4 lg:mb-0">
        <p class="self-end">
          Defining and providing the team with systems to best execute against current and future strategy.
        </p>
      </div>
    </div>
    <div class="row-start-3 row-span-2 col-start-1 col-span-8">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "accurat-design-ops-linechart" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-2 row-span-2 col-start-19 col-span-6">
      <p class="mb-4 lg:mb-0">
        Emboding and establishing best practices for the design group. Acting as a mentor to fellow designers nurturing both soft and hard skills.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-9 col-span-10">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "accurat-design-ops-triennale" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-3 col-start-1 col-span-15 lg:flex lg:flex-row-reverse">
      <p class="mb-4 lg:mb-0 lg:writing-mode-sideways-rl lg:ml-4">
        Helping lay the groundwork to set new problem&nbsp;<br class="hidden lg:block">spaces up for success, and providing exceptional &nbsp;<br class="hidden lg:block">hands-on execution as necessary.
      </p>
      <div>
        {% set classes = "mb-4 lg:mb-0" %}
        {% set name = "accurat-design-ops-penta" %}
        {% set description = "#" %}
        {% include "utils/image.njk" %}
      </div>
    </div>

    <div class="row-start-5 row-span-2 col-start-16 col-span-9 lg:flex lg:flex-col-reverse">
      <p class="mb-4 lg:mb-0">
        Operating in a fast-paced data-driven environment, often wearing multiple hats. Balancing collaboration, alignment and decisiveness creating the space for others to work together.
      </p>
      {% set classes = "lg:mb-4" %}
      {% set name = "accurat-design-ops-motion" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

  </div>

</section>
