<section class="mb-32">
  <div class="lg:grid grid-cols-24 gap-4 p-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-4xl  xl:text-5xl">Firefox Design System</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16">
      <p class="text-xl xl:text-2xl">
        Joined the task force that shipped the new Firefox in November 2017. Designed and scaled the Photon design language to Firefox web, iOS and Android products.
      </p>
    </div>

    <div class="row-start-2 row-span-1 col-start-1 col-span-8">
      <p class="text-m mb-4 ">
        1. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
      <img class="bg-gray-200" src="#" alt="#">
    </div>

    <div class="bg-gray-200 row-start-2 row-span-3 col-start-9 col-span-11">
      <img src="#" alt="#">
    </div>
    <div class="row-start-2 row-span-1 col-start-20 col-span-5">
      <p class="text-m">
        2. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>

  </div>
</section>