<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 pt-4 px-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-4xl xl:text-5xl">Design Ops and more&nbsp;<br class="hidden lg:block">at Accurat</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <h3 class="text-xl xl:text-2xl">
        Guiding a 30+ group of data visualization designers, engineers and scientists with user-centred thinking processes. Supporting the execution and roll out of all design.
      </h3>
    </div>

    <div class="row-start-2 row-span-1 col-start-1 col-span-8">
      <div class="flex mb-4 lg:mb-0">
        <p class="self-end">
          Accurat is a data visualization design, research and innovation studio with offices in Milan and New York.
        </p>
      </div>
    </div>
    <div class="row-start-3 row-span-2 col-start-1 col-span-8">
      <img class="mb-4 lg:mb-0" src="images/2x/accurat-design-ops-linechart.jpg" alt="#">
    </div>

    <div class="row-start-2 row-span-2 col-start-19 col-span-6">
      <p class="mb-4 lg:mb-0">
        Leading the design strategy for the top agency clients; Mentoring the senior leadership on product strategy techniques. Sharing my experience in shaping digital products to encourage the team to focus more on the outcome rather than the output.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-9 col-span-10">
      <img class="mb-4 lg:mb-0" src="images/2x/accurat-design-ops-triennale.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-3 col-start-1 col-span-16 lg:flex lg:flex-row-reverse">
      <p class="mb-4 lg:mb-0 lg:writing-mode-sideways-rl lg:ml-4">
        Making sense out of complexity&nbsp;<br class="hidden lg:block">and helping orchestrate our teams&nbsp;<br class="hidden lg:block">towards a solution.
      </p>
      <div>
        <img class="mb-4 lg:mb-0" src="images/2x/accurat-design-ops-penta.jpg" alt="#">
      </div>
    </div>

    <div class="row-start-5 row-span-2 col-start-17 col-span-8 lg:flex lg:flex-col-reverse">
      <p class="mb-4 lg:mb-0">
        Sharing how design can be operationalized in an agency. Working side by side with the managing partners to make sure that our methods and approaches are outlined in offers and contracts, enabling the whole team to work on our own terms.
      </p>
      <img class="lg:mb-4" src="https://placekitten.com/1200/800" alt="#">
    </div>

  </div>

</section>
