<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 px-4 md:px-8 lg:px-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-3xl md:text-4xl xl:text-5xl">Firefox Design System</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <p class="text-xl xl:text-2xl mb-8">
        Joined the task force that shipped the new Firefox in November 2017. Designed and scaled the Photon visual language to web, desktop, iOS and Android products.
      </p>
      <p class="xl:text-lg">
        Explored how the Firefox experience spanned different user types, situations and devices. Presented the vision and design rationale in a compelling, convincing manner to the wider team.
      </p>
    </div>

    <div class="row-start-2 row-span-1 col-start-1 col-span-6">
      <p class="mb-4">
        Defined workflows, built and shipped tools enabling a team of 40+ people to work more efficiently and invest more time in research and testing.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-design-system-icons" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-2 row-span-1 col-start-18 col-span-7">
      <p class="mb-4 lg:mb-0">
        Audited the Photon work, from design files to code snippets. Tested UI variations across screens and operating systems, and combined the small variations in a single source of truth.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-7 col-span-11">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-design-system-components" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-3 col-start-1 col-span-10 lg:flex">
      <p class="mb-4 lg:mb-0 lg:mr-4 lg:writing-mode-sideways-rl">
        Launched a company-wide design tokens&nbsp;<br class="hidden lg:block">initiative to promote shared design decisions&nbsp;<br class="hidden lg:block">across 10+ products and 5 OS platforms.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-design-system-tokens" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-4 col-start-11 col-span-14">
      <div class="lg:flex lg:flex-wrap-reverse">
      <p class="mb-4 lg:mb-0">
        Everything was documented in a website that shared the state of the art: colors, typography, icons, components, patterns, copy, and resources.
      </p>
      {% set classes = "lg:mb-4" %}
      {% set name = "firefox-design-system-website" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

  </div>
</section>