<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 p-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-3xl md:text-4xl xl:text-5xl">Firefox Design System</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <h3 class="text-xl xl:text-2xl">
        Joined the task force that shipped the new Firefox in November 2017. Designed and scaled the Photon design language to Firefox web, iOS and Android products.
      </h3>
    </div>

    <div class="row-start-2 row-span-1 col-start-1 col-span-6">
      <p class="mb-4">
        Defined workflows, built and shipped tools enabling a team of 40+ people to work more efficiently and invest more time in research and testing.
      </p>
      <img class="mb-4 lg:mb-0" src="images/2x/firefox-design-system-colors.jpg" alt="#">
    </div>

    <div class="row-start-2 row-span-1 col-start-18 col-span-7">
      <p class="mb-4 lg:mb-0">
        Everything was documented in a website that showcased the state of the art: colors, typography, icons, components, patterns, copy and resources.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-7 col-span-11">
      <img class="mb-4 lg:mb-0" src="images/2x/firefox-design-system-icons.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-3 col-start-1 col-span-10 lg:flex">
      <p class="mb-4 lg:mb-0 lg:mr-4 lg:writing-mode-sideways-rl">
        Launched a company-wide&nbsp;<br class="hidden lg:block xl:hidden">design tokens&nbsp;<br class="xl:block">initiative&nbsp;<br class="hidden lg:block xl:hidden">to promote shared design&nbsp;<br class="hidden lg:block xl:hidden">decisions&nbsp;<br class="hidden xl:block">across 10+&nbsp;<br class="hidden lg:block xl:hidden">products and 5 OS platforms.
      </p>
      <div class="mb-4 lg:mb-0">
        <img src="images/2x/firefox-design-system-tokens.jpg" alt="#">
      </div>
    </div>


    <div class="row-start-5 row-span-4 col-start-11 col-span-14">
      <div class="lg:flex lg:flex-wrap-reverse">
      <p class="mb-4 lg:mb-0 lg:w-4/5">
        Audited the Quantum and Photon work, from the design files to the code. Tested UI variations across devices and screens, and combined the small differences in a single source of truth.
      </p>
      <div class="lg:mb-4">
        <img src="images/2x/firefox-design-system-components.jpg" alt="#">
      </div>
    </div>

  </div>
</section>