<section class="mb-32 xl:mb-48">
  <div class="lg:grid grid-cols-24 gap-4 px-4 md:px-8 lg:px-4">

    {% set title = "Firefox for Echo Show" %}
    {% set summary = "As the sole designer, shaped from concept to shipping the first-ever voice-controlled Firefox Browser. Available on Amazon smart displays, it’s used by 800K+ users." %}
    {% set description = "Navigated in uncharted territories where the rules and engagements weren’t established yet. Set the vision for the user experience and partnered with researchers, product managers, and engineers to champion customer needs. Created detailed interactive prototypes demonstrating flows, interactions and animations." %}
    {% include "utils/header.njk" %}

    <div class="row-start-4 row-span-1 col-start-13 col-span-7">
      <div class="mb-4 flex lg:mb-0">
        <p class="place-self-end">
          Layout grids kept the interface legiblle at a distance. Any unnecessary visual adornments was excluded.
        </p>
      </div>
    </div>
    <div class="row-start-2 row-span-3 col-start-1 col-span-12">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-echo-show-device" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>
  
    <div class="row-start-2 row-span-1 col-start-20 col-span-5">
      <p class="mb-4 lg:mb-0">
        The number of choices available in the settings screens had to be minimized.
      </p>
    </div>
    <div class="row-start-2 row-span-1 col-start-13 col-span-7">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-echo-show-settings" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-1 col-start-7 col-span-5">
      <p class="mb-4 lg:mb-0">
        Motion brought objects to life enabling users to see actions from many feet away.
      </p>
    </div>
    <div class="row-start-5 row-span-1 col-start-1 col-span-6">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "firefox-echo-show-progress-bar" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-2 xl:row-start-1 row-span-3 xl:row-span-4 col-start-21 col-span-4 flex">
      <p class="mb-4 self-end lg:writing-mode-rl lg:ml-auto lg:mb-0 lg:transform lg:rotate-180">
        Content was accessible with&nbsp;<br class="hidden lg:block">the least amount of friction.&nbsp;<br class="hidden lg:block">Additional screens were visible&nbsp;<br class="hidden lg:block">only when necessary.
      </p>
    </div>
    <div class="row-start-5 row-span-3 col-start-13 col-span-12">
      {% set classes = "mb-0" %}
      {% set name = "firefox-echo-show-navigation" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

  </div>
</section>
