<section class="mb-32 max-w-screen-xl ml-auto">
  <div class="md:grid grid-cols-24 gap-4 p-4" style="background-color: #d9d7d2;">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12">
      <h2 class="text-4xl">Firefox for Fire TV</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12">
      <p class="text-xl">
        2. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>

    <div class="bg-red-500 row-start-2 row-span-2 col-start-1 col-span-6">
      <img src="images/1x/firefox-fire-tv.jpg" alt="#">
      <p class="mt-4 text-xs">
        3. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>

    <div class="row-start-2 row-span-1 col-start-17 col-span-8">
      <p class="text-m">
        4. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>
    <div class="bg-red-500 row-start-2 row-span-3 col-start-7 col-span-10">
      <img src="images/1x/firefox-fire-tv.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-1 col-start-1 col-span-6">
      <p class="text-m">
        5. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>
    <div class="row-start-6 row-span-3 col-start-1 col-span-10">
      <div class="bg-red-500 row-start-5 row-span-3 col-start-1 col-span-10">
        <img src="images/1x/firefox-fire-tv.jpg" alt="#">
      </div>
    </div>

    <div class="bg-red-500 row-start-5 row-span-4 col-start-13 col-span-12">
      <img src="images/1x/firefox-fire-tv.jpg" alt="#">
    </div>

  </div>
</section>