<section class="mb-32">
  <div class="lg:grid grid-cols-24 gap-4 p-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-4xl  xl:text-5xl">Firefox for Fire TV</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16">
      <p class="text-xl xl:text-2xl">
        Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>

    <div class="bg-gray-200 row-start-2 row-span-2 col-start-1 col-span-6">
      <img src="images/2x/firefox-fire-tv-helpers.jpg" alt="#">
      <p class="mt-4 text-xs">
        3. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>

    <div class="row-start-2 row-span-1 col-start-17 col-span-8">
      <p class="text-m">
        4. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>
    <div class="bg-gray-200 row-start-2 row-span-3 col-start-7 col-span-10">
      <img src="images/2x/firefox-fire-tv-homescreen.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-1 col-start-1 col-span-10 xl:col-span-8">
      <p class="text-m">
        5. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>
    <div class="row-start-6 row-span-2 col-start-1 col-span-10">
      <div class="bg-gray-200 row-start-5 row-span-3 col-start-1 col-span-10">
        <img src="images/2x/firefox-fire-tv-browsing.jpg" alt="#">
      </div>
    </div>

    <div class="bg-gray-200 row-start-5 row-span-3 col-start-11 col-span-12">
      <img src="images/2x/firefox-fire-tv-device.jpg" alt="#">
    </div>
    <div class="row-start-5 row-span-3 col-start-23 col-span-2">
      <p class="text-m writing-mode-sideways-rl">
        The interface and the amount of<br>information had to be reduced due to<br>the viewing distance.
      </p>
    </div>

  </div>
</section>