<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 pt-4 px-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-4xl xl:text-5xl">Firefox for Fire TV</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <h3 class="text-xl xl:text-2xl">
        Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </h3>
    </div>

    <div class="row-start-2 row-span-2 col-start-1 col-span-6">
      <div class="lg:flex lg:flex-wrap-reverse">
        <p class="mb-4 lg:mb-0 lg:flex-shrink-0 w-full">
          Just in time suggestions enabled users to discover and access features with their Fire TV remote.
        </p>
        <div class="mb-4 lg:flex-shrink-0 w-full">
          <img src="images/2x/firefox-fire-tv-helpers.jpg" alt="#">
        </div>
      </div>
    </div>

    <div class="row-start-2 row-span-1 col-start-17 col-span-8">
      <p class="mb-4 lg:mb-0">
        4. Reshaped a TV web browser originally developed in a 5-day sprint into a native remote-controlled TV app serving up to 8 million users.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-7 col-span-10">
      <img class="mb-4 lg:mb-0" src="images/2x/firefox-fire-tv-homescreen.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-1 col-start-1 col-span-8">
      <p class="mb-4 lg:mb-0">
        The interface and the amount of information had to be reduced due to the viewing distance.
      </p>
    </div>
    <div class="row-start-6 row-span-3 col-start-1 col-span-8">
      <img class="mb-4 lg:mb-0" src="images/2x/firefox-fire-tv-settings.jpg" alt="#">
    </div>

    <div class="row-start-5 row-span-3 col-start-23 col-span-2">
      <p class="mb-4 lg:mb-0 lg:writing-mode-sideways-rl">
        The interface and the amount of&nbsp;<br class="hidden lg:block">information had to be reduced due to&nbsp;<br class="hidden lg:block">the viewing distance.
      </p>
    </div>
    <div class="row-start-5 row-span-3 col-start-9 col-span-14">
      <img src="images/2x/firefox-fire-tv-device.jpg" alt="#">
    </div>

  </div>
</section>