<footer class="absolute -z-1">
  <p class="fixed left-4 bottom-4 leading-none">
    <a class="inline-block mr-4" href="https://twitter.com/aminalhazwani">
      Twitter<span class="font-inter ml-1">↗</span>
    </a>
    <a class="inline-block mr-4" href="https://github.com/aminalhazwani/">
      GitHub<span class="font-inter ml-1">↗</span>
    </a>
    <a href="https://www.linkedin.com/in/aminalhazwani/">
      LinkedIn<span class="font-inter ml-1">↗</span>
    </a>
  </p>
  <a class="fixed bottom-4 right-4 leading-none writing-mode-sideways-lr" href="#">Top</a>
</footer>