<footer class="max-w-screen-xl">
  <p class="leading-tight p-4 text-2xl md:tracking-tight md:text-3xl lg:text-7xl lg:leading-none">
    Amin Al Hazwani worked as a graphic designer, web designer, event organizer, front-end developer, mobile interface designer, design system designer, product designer, and today is a design ops director. He designed a wide range of things, from icons to design systems. He organized design events and designed design orgs. He worked alone, in a duo, in a small team, in a medium-sized design agency, in a big distributed company. He literally tried it all.
  </p>
  <div class="p-4 xl:p-0 xl:fixed xl:bottom-4 xl:right-4 -z-1">
    <p class="leading-none xl:writing-mode-sideways-lr">
      <a class="mr-4 xl:mr-0 xl:mt-4" href="https://twitter.com/aminalhazwani">
        Twitter<span class="font-inter ml-1 xl:ml-0 xl:mb-1">↗</span>
      </a>
      <a class="mr-4 xl:mr-0 xl:mt-4" href="https://github.com/aminalhazwani/">
        GitHub<span class="font-inter ml-1 xl:ml-0 xl:mb-1">↗</span>
      </a>
      <a class="mr-4 xl:mr-0 xl:mt-4" href="https://www.linkedin.com/in/aminalhazwani/">
        LinkedIn<span class="font-inter ml-1 xl:ml-0 xl:mb-1">↗</span>
      </a>
    </p>
  </div>
</footer>