<footer>
  <a class="leading-none writing-mode-sideways-lr" href="https://twitter.com/aminalhazwani">
    Twitter<span class="font-inter ml-1">↗</span>
  </a>
  <a class="leading-none writing-mode-sideways-lr" href="https://github.com/aminalhazwani/">
    GitHub<span class="font-inter ml-1">↗</span>
  </a>
  <a class="leading-none writing-mode-sideways-lr" href="https://www.linkedin.com/in/aminalhazwani/">
    LinkedIn<span class="font-inter ml-1">↗</span>
  </a>
</footer>