<header class="grid grid-cols-2 gap-4 px-4 pt-4 mb-32 max-w-screen-xl">
  <div class="col-span-1">
    <p>
      <a href="#">Amin Al Hazwani</a>
    </p>
  </div>
  <div class="col-span-1 lg:hidden">
    <p class="text-right">
      <a href="#">Info</a>
    </p>
  </div>
  <div class="col-span-2 lg:col-start-2 lg:col-span-1">
    <p class="lg:w-4/5 xl:w-full">
      To make the development experience as productive as possible, Tailwind generates thousands of utility classes for you, most of which you probably won’t actually use.
    </p>
  </div>
  <div class="fixed top-4 right-4 -z-1 hidden lg:block">
    <p classs="text-right">
      <a href="#">Info</a>
    </p>
  </div>
</header>
