<div class="grid grid-cols-2 gap-4">
  <div class="col-span-1">
    <p class="leading-none">Amin Al Hazwani</p>
  </div>
  <div class="col-span-1 lg:hidden">
    <p class="group text-right leading-none">
      <span class="inline-block mr-0.5 opacity-0 transform -translate-y-2 transition ease-in-out duration-200 group-hover:opacity-100 group-hover:translate-y-0">↓</span>
      <a href="#info">Info</a>
    </p>
  </div>
  <div class="col-span-2 lg:col-start-2 lg:col-span-1">
    <p class="lg:w-4/5 xl:w-full"></p>
  </div>
</div>
