<picture class="{{ class }}">
  <source type="image/webp" srcset="images/webp/{{ project.data.image.name }}.webp">
  <source type="image/jpeg" srcset="images/1.5x/{{ project.data.image.name }}.jpg 1.5x">
  <source type="image/jpeg" srcset="images/2x/{{ project.data.image.name }}.jpg 2x">
  <img src="images/1x/{{ project.data.image.name }}.jpg" alt="{{ project.data.image.alt }}">
</picture>
