<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 pb-4 px-4">

    <div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4">
      <h2 class="text-3xl md:text-4xl xl:text-5xl">Design Practice</h2>
    </div>
    <div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 xl:mb-24">
      <h3 class="text-xl xl:text-2xl">
        Founded a one-man studio specialized in design for screens. Helped freelancers, companies and startups shape their digital products.
      </h3>
    </div>

    <div class="row-start-2 row-span-2 col-start-1 col-span-8 lg:flex lg:flex-col-reverse">
      <p class="mb-4 lg:mb-0">
        Developed the first course on Web and Media Design at the MA in Eco-Social Design. Devised lectures and exercises that ranged from project strategy to creative production, from user research to user interface design.
      </p>
      {% set classes = "mb-4" %}
      {% set name = "unibz-teaching" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-2 row-span-3 col-start-23 col-span-2">
      <p class="mb-4 lg:mb-0 lg:writing-mode-sideways-rl">
        Designed an app for movie and TV&nbsp;<br class="hidden lg:block">show recommendations from the one&nbsp;<br class="hidden lg:block">source you trust – your friends.
      </p>
    </div>
    <div class="row-start-2 row-span-3 col-start-9 col-span-14">
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "studio-tronko" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-4 col-start-1 col-span-14">
      <p class="mb-4">
        Co-designed and developed the website for “one of the most vibrant graphic design studios in Italy” according to Grafik Magazine, London.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "studio-studio-mut" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-3 col-start-15 col-span-10">
      <div class="lg:flex lg:flex-wrap-reverse">
        <p class="mb-4 lg:mb-0">
          Co-authored an article about the importance of animation in product design and how motion creates opportunities to make our interfaces better at every level.
        </p>
        {% set classes = "mb-4" %}
        {% set name = "studio-a-list-apart" %}
        {% set description = "#" %}
        {% include "utils/image.njk" %}
      </div>
    </div>

    <div class="row-start-10 row-span-3 col-start-1 col-span-10">
      <div class="lg:flex lg:flex-wrap-reverse">
        <p class="mb-4 lg:mb-0">
          The whole website was content-first, pattern-driven, and designed in the open.
        </p>
        {% set classes = "mb-4" %}
        {% set name = "studio-unibz-language" %}
        {% set description = "#" %}
        {% include "utils/image.njk" %}
      </div>
    </div>

    <div class="row-start-10 row-span-4 col-start-11 col-span-14">
      <p class="mb-4 lg:w-4/5">
        Designed and co-developed the university website built on a custom WYSIWYG editor where faculty staff can autonomously compose and publish web pages for a total of 5 schools 49 curricula and counting.
      </p>
      {% set classes = "mb-0" %}
      {% set name = "studio-unibz-website" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

  </div>

</section>
