<section class="mb-32 xl:mb-48">

  <div class="lg:grid grid-cols-24 gap-4 pb-4 px-4 md:px-8 md:pb-8 lg:px-4 lg:pb-4">

    {% set title = "Design Practice" %}
    {% set summary = "Founded a one-man studio specialized in design for screens. Helped organisations, startups and companies shape their digital products." %}
    {% include "utils/header.njk" %}

    <div class="row-start-2 row-span-2 col-start-1 col-span-8 lg:flex lg:flex-col-reverse">
      <p class="mb-4 lg:mb-0">
        Developed the first course on Web and Media Design at the MA in Eco-Social Design. Devised lectures and exercises that ranged from project strategy to creative production, from user research to user interface design.
      </p>
      {% set classes = "mb-4" %}
      {% set name = "unibz-teaching" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-2 row-span-3 col-start-9 col-span-16 lg:flex lg:flex-row-reverse">
      <p class="mb-4 lg:mb-0 lg:ml-4 lg:writing-mode-sideways-rl">
        Designed <a class="underline underline-2 underline-offset-2" href="https://tronko.com/">Tronko</a>, an app for movie and&nbsp;<br class="hidden lg:block">TV show recommendations from&nbsp;<br class="hidden lg:block">the one source you trust – your friends.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "studio-tronko" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-4 col-start-1 col-span-14">
      <p class="mb-4">
        Co-designed and developed the website for <a class="underline underline-2 underline-offset-2" href="https://studiomut.com/">Studio Mut</a>, “one of the most vibrant graphic design studios in Italy” according to Grafik Magazine, London.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "studio-studio-mut" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-5 row-span-3 col-start-15 col-span-10">
      <div class="lg:flex lg:flex-wrap-reverse">
        <p class="mb-4 lg:mb-0">
          Co-authored an article for <a class="underline underline-2 underline-offset-2" href="https://alistapart.com/article/motion-with-meaning-semantic-animation-in-interface-design/">A List Part</a> about the importance of animation in product design and how motion creates opportunities to make our interfaces better at every level.
        </p>
        {% set classes = "mb-4" %}
        {% set name = "studio-a-list-apart" %}
        {% set description = "#" %}
        {% include "utils/image.njk" %}
      </div>
    </div>

    <div class="row-start-10 row-span-4 col-start-11 col-span-14">
      <p class="mb-4 lg:w-4/5">
        Designed and co-developed the website for the <a class="underline underline-2 underline-offset-2" href="https://www.unibz.it/">Free University of Bozen-Bolzano</a>. Built on a custom WYSIWYG editor, it enabled the faculty staff to autonomously compose and publish new pages, for a total of 5 school, 49 curricula and counting.
      </p>
      {% set classes = "mb-4 lg:mb-0" %}
      {% set name = "studio-unibz-website" %}
      {% set description = "#" %}
      {% include "utils/image.njk" %}
    </div>

    <div class="row-start-10 row-span-4 col-start-1 col-span-10">
      <div class="lg:flex lg:flex-wrap-reverse">
        <p class="mb-4 lg:mb-0">
          The whole university website was content-first, pattern-driven, and designed in the open.
        </p>
        {% set classes = "mb-0 lg:mb-4" %}
        {% set name = "studio-unibz-language" %}
        {% set description = "#" %}
        {% include "utils/image.njk" %}
      </div>
    </div>

  </div>

</section>
