---
layout: main
---

{% for project in projects %}
  <div class="cf mb6 mb7-l">
    <div class="fl w-100 w-40-l">
      <h2 class="f3 f2-l fw4 mt0 mb4">{{ project.title }}</h2>
      <p class="f4 f3-l lh-copy mt0 mb3 mb0-l">
        {{ project.description }}
      </p>
    </div>
    <div class="fr w-100 w-50-l">
      <img src="{{ project.imageurl }}" alt="{{ project.imagealt }}">
    </div>
  </div>
{% endfor %}

<p class="f3 f2-m f-subheadline-l lh-title lh-solid-l mv0">
  Amin Al Hazwani worked as a graphic designer, web designer, event organizer, front-end developer, mobile interface designer, design system designer, product designer, and today is a design ops director. He designed a wide range of things, from icons to design systems. He organized design events and designed design orgs. He worked alone, in a duo, in a small team, in a medium-sized design agency, in a big distributed company. He literally tried it all.
</p>
