<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body class="bg-gray-100 font-sans m-auto text-black tracking-tight dark:bg-black dark:text-white">
    <header class="flex mb-32 px-4 pt-4 lg:text-xl xl:text-2xl">
      <h1 class="flex-grow">
        <a href="/">Amin Al Hazwani</a>
      </h1>
      <a class="group" href="#about">
        <span class="opacity-0 group-hover:opacity-100">↓</span> About
      </a>
    </header>
    {{ content | safe }}
  </body>
</html>
