<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body class="bg-gray-100 font-sans m-auto leading-none text-black tracking-tight dark:bg-black dark:text-white">
    <header class="flex mb-32 px-4 pt-4 lg:text-xl xl:text-2xl">
      <h1 class="flex-grow">
        <a href="/">Amin Al Hazwani</a>
      </h1>
      <a class="group" href="#about">
        <span class="opacity-0 group-hover:opacity-100">↓</span> About
      </a>
    </header>
    {{ content | safe }}
    <footer id="about" class="px-4">
      <p class="leading-tight mb-32 text-2xl md:text-3xl lg:text-7xl lg:leading-none">
        Amin Al Hazwani worked as a graphic designer, web designer, event organizer, front-end developer, mobile interface designer, design system designer, product designer, and today is a design ops director. He designed a wide range of things, from icons to design systems. He organized design events and designed design orgs. He worked alone, in a duo, in a small team, in a medium-sized design agency, in a big distributed company. He literally tried it all.
      </p>
      <ul class="md:flex">
        <li class="mb-4 md:mr-8">
          <a class="lg:text-xl xl:text-2xl" href="https://twitter.com/aminalhazwani">Twitter</a>
        </li>
        <li class="mb-4 md:mr-8">
          <a class="lg:text-xl xl:text-2xl" href="https://github.com/aminalhazwani/">GitHub</a>
        </li>
        <li class="mb-4 md:mr-8">
          <a class="lg:text-xl xl:text-2xl" href="https://www.linkedin.com/in/aminalhazwani/">LinkedIn</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
