<!doctype html>
<html lang="en">
  {% include "blocks/head.njk" %}
  <body class="font-sans leading-tight bg-black md:text-lg md:leading-tight lg:text-base lg:leading-tight xl:text-lg xl:leading-tight 2xl:max-w-screen-2xl">
    {{ content | safe }}
  </body>
</html>
