<footer class="site_footer{% if page.url == '/index.html' %} site_footer-white{% endif %}">
  <p>© 2015 Amin Al Hazwani.</p>
</footer>
<!-- Remove one you buy the fonts -->
<script type="text/javascript">
  (function() {
    var path = '//easy.myfonts.net/v2/js?sid=270909(font-family=Neue+Haas+Unica+Pro+Light+Italic)&sid=270910(font-family=Neue+Haas+Unica+Pro+Medium)&key=pgp0h9miNG',
        protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
        trial = document.createElement('script');
    trial.type = 'text/javascript';
    trial.async = true;
    trial.src = protocol + path;
    var head = document.getElementsByTagName("head")[0];
    head.appendChild(trial);
  })();
</script>
<!-- Create gulp task for JavaScript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js"></script>