<header class="{% if page.url == '/index.html' %}bg-blue{% else %}bg-black{% endif %}">
  <div class="flex flex-justify measure center pam">
    <h1 class="man f4 light">
      <a class="db pvs white no-underline" href="/">Amin Al Hazwani</a>
    </h1>
    {% if page.url == '/index.html' %}
      <a class="pvs phm white no-underline bw1 bs-solid br4" href="/about">About</a>
    {% else %}
      <a class="pvs phm white no-underline bw1 bs-solid br4" href="/">Back</a>
    {% endif %}
  </div>
</header>