<header class="site_header{% if page.url == '/index.html' %} site_header-white{% endif %}">
  <div class="header_inner">
    <h1 class="site_title{% if page.url == '/index.html' %} site_title-white{% endif %}"><a href="/">Amin Al Hazwani</a></h1>
    <nav class="site_nav">
      <a class="nav_item{% if page.url == '/index.html' %} nav_item-white{% endif %}{% if page.url contains 'writing' %} nav_item-active{% endif %}" href="/writing">Writing</a>
      <a class="nav_item{% if page.url == '/index.html' %} nav_item-white{% endif %}{% if page.url contains 'library' %} nav_item-active{% endif %}" href="/library">Library</a>
      <a class="nav_item{% if page.url == '/index.html' %} nav_item-white{% endif %}{% if page.url contains 'pictures' %} nav_item-active{% endif %}" href="/pictures">Pictures</a>
      <a class="nav_item{% if page.url == '/index.html' %} nav_item-white{% endif %}{% if page.url contains 'about' %} nav_item-active{% endif %}" href="/about">About</a>
    </nav>
  </div>
</header>