<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Amin Al Hazwani</title>
    <meta name="description" content="Personal website of Amin Al Hazwani">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <link rel="icon" sizes="192x192" href="#">
    <link rel="apple-touch-icon" href="#">
    <link rel="mask-icon" href="#" color="#000">
    <link rel="canonical" href="https://aminalhazwani.com">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  </head>
  <body class="sans-serif mw7 bg-near-black light-gray pa3 pa4-ns f5 f4-ns lh-copy">
    {{ content | safe }}
  </body>
</html>
