<!doctype html>
<html lang="en">
  {% include "head.njk" %}
  <body class="mw9-ns center pa3 helvetica cs-dark-bg-black cs-dark-white cs-light-bg-white cs-light-black">
    {{ content | safe }}
  </body>
</html>
