.lh-copy {
  line-height: 1.33;
}

@media (prefers-color-scheme: dark) {
  .cs-dark-bg-black {
    background-color: #000;
  }
  .cs-dark-white {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  .cs-light-bg-white {
    background-color: #fff;
  }
  .cs-light-black {
    color: #000;
  }
}
