/*
 * Base
 */

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--black);
  margin: 0 auto;
}

img, video {
  max-width: 100%;
}

/*
 * Typography
 */

@font-face {
  font-family: 'NeueHaasUnicaPro-Light';
  src: url('../../static/webfonts/2E4340_0_0.woff') format('woff');
}


body {
  font-size: var(--base-font-size);
  font-family: var(--font-family);
}

:--heading {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  line-height: var(--line-height);
}

h1, h3 {
  font-family: var(--font-bold);
}

p {
  margin: 0 0 var(--space) 0;
  line-height: var(--line-height);
}

ul > li {
  line-height: var(--line-height);
}

em {
  font-family: var(--font-italic);
  font-style: normal;
}

a {
  color: var(--black);
  text-decoration: none;
}

figure {
  margin: 0;
  line-height: 0;
}

figcaption {
  margin: var(--space-half) 0 0 0;
  font-size: 14px;
  line-height: var(--line-height);
  color: var(--grey);
  text-align: center;
}

p > a {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--black);
}

q, 
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}


/*
 * Media queries
 */

@media (--sm) {
  body {
    font-size: 18px;
  }
  figcaption {
    font-size: 16px;
  }
}

mfPreviewBar,
#mfPreviewBarShow {
  display: none;
}