/*
 * Base
 */

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  margin: 0 auto;
}

img {
  max-width: 100%;
}


/*
 * Typography
 */

@font-face {
  font-family: 'NeueHaasUnicaPro-Light';
  src: url('../../static/webfonts/2E4340_0_0.woff') format('woff');
}

body {
  font-size: var(--base-font-size);
  font-family: var(--font-family);
}

:--heading {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  line-height: var(--line-height);
}

p {
  margin: 0 0 var(--space) 0;
  line-height: var(--line-height);
}

a {
  color: var(--black);
  text-decoration: none;
}

figure {
  margin: 0;
  line-height: 0;
}

figcaption {
  margin: var(--space-half) 0 0 var(--space);
  line-height: var(--line-height);
  color: var(--grey);
}

p > a {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--black);
}


/*
 * Media queries
 */

@media (--xs) {
  figcaption {
    margin-left: 0;
  }
}

@media (--sm) {
  body {
    font-size: 18px;
  }
}