/* 
 * Box sizing 
 */

nav,
main,
section,
article,
header,
footer,
div,
nav:before,
main:before,
section:before,
article:before,
aside:before,
header:before,
footer:before,
div:before,
details:before,
nav:after,
main:after,
section:after,
article:after,
aside:after,
header:after,
footer:after,
div:after,
.border-box,
.border-box:before,
.border-box:after {
  box-sizing: border-box;
}