/* 
 * Display 
 */

.db { display: block; }

.flex {
  display: flex;
}

.flex-start {
  align-items: flex-start;
}

.flex-grownn {
  flex-grow: 0;
}

.flex-shrinkn {
  flex-shrink: 0;
}

@media (--breakpoint-md) {
  .flex-md { display: flex; }
  .flex-basis20-md  { width: 20% }
}

.flex-justify {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}