/*
 * Footer
 */

.site_footer {
  margin: 0 auto;
  padding: var(--space);
  max-width: 1080px;
}

.site_footer-white {
  background-color: var(--newsboy);
}

.site_footer > p {
  margin: 0;
}

.site_footer-white > p {
  color: var(--white);
}