/*
 * Grid
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -var(--space-half);
}

.grid > [class*="grid_col-"]:not(:last-child) {
  margin: 0 auto var(--space) auto;
}

.grid > [class*="grid_col-"]:last-child {
  margin: 0 auto var(--space-triple) auto;
}

[class*="grid_col-"] {
  padding: 0 var(--space-half);
}


/* Media queries */

@media (--xs) {
  .grid {
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 var(--space-half);
    max-width: 1080px;
  }

  .grid_col-12 {
    max-width: 100%;
  }

  .grid_col-11 {
    max-width: 91.66667%;
  }

  .grid_col-10 {
    max-width: 83.33333%;
  }

  .grid_col-9 {
    max-width: 75%;
  }

  .grid_col-8 {
    max-width: 66.66667%;
  }

  .grid_col-7 {
    max-width: 58.33333%;
  }

  .grid_col-6 {
    max-width: 50%;
  }

  .grid_col-5 {
    max-width: 41.66667%;
  }

  .grid_col-4 {
    max-width: 33.33333%;
  }

  .grid_col-3 {
    max-width: 25%;
  }

  .grid_col-2 {
    max-width: 16.66667%;
  }

  .grid_col-1 {
    max-width: 8.33333%;
  }
}


/* Grid full */

.grid-full, .grid-full > [class*="grid_col-"] {
  padding: 0;
}

.grid-full > [class*="grid_col-"] > figcaption {
  margin-left: 30px;
}

@media (--xs) {
  .grid-full > [class*="grid_col-"] > figcaption {
    margin-left: var(--space);
  }
}