/*
 * Grid
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--space-half) var(--space-double) var(--space-half);
}

.grid_col-vert {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

[class*="grid_col-"] {
  padding: 0 var(--space-half);
}

[class*="grid_col-"]:not(:last-of-type) {
  margin-bottom: var(--space);
}

/* Media queries */

@media (--xs) {
  .grid {
    flex-wrap: nowrap;
    margin-bottom: var(--space-triple);
    max-width: 1080px;
  }

  .grid_col-12 {
    max-width: 100%;
  }

  .grid_col-11 {
    max-width: 91.66667%;
  }

  .grid_col-10 {
    max-width: 83.33333%;
  }

  .grid_col-9 {
    max-width: 75%;
  }

  .grid_col-8 {
    max-width: 66.66667%;
  }

  .grid_col-7 {
    max-width: 58.33333%;
  }

  .grid_col-6 {
    max-width: 50%;
  }

  .grid_col-5 {
    max-width: 41.66667%;
  }

  .grid_col-4 {
    max-width: 33.33333%;
  }

  .grid_col-3 {
    max-width: 25%;
  }

  .grid_col-2 {
    max-width: 16.66667%;
  }

  .grid_col-1 {
    max-width: 8.33333%;
  }

  [class*="grid_col-"]:not(:last-of-type) {
    margin-bottom: 0;
  }
}


/* Grid full */

.grid-full {
  margin: 0 0 var(--space-double) 0;
}

.grid-full, .grid-full > [class*="grid_col-"] {
  padding: 0;
}