/*
 * Header
 */

.site_header {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.site_header-white {
  background-color: var(--unibz);
}

.site_header:after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 24px;
  height: 44px;
  background: linear-gradient(to right, rgba(var(--white), 0) , var(--white));
}

.site_header-white:after {
  background: linear-gradient(to right, rgba(var(--unibz), 0) , var(--unibz));
}

.header_inner {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin: 0 auto -var(--space) auto;
  padding: var(--space) 0;
  width: 100%;
  max-width: 1080px;
}

.site_title {
  float: left;
  margin: 0 var(--space)*3 0 0;
  padding-left: var(--space);
}

.site_title-white > a {
  color: var(--white);
}