/*
 * Homepage
 */

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space)*3 var(--space) var(--space)*4 var(--space);
}

.case_title, 
.case_text {
  color: var(--white);
  text-align: center;
}

.case_title > a {
  color: var(--white);
  line-height: 1.6;
}

.case_text {
  margin-bottom: 10px;
}

.case_image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.unibz {
  background-color: var(--unibz);
}

.newsboy {
  background-color: var(--newsboy);
}

.tronko {
  background-color: var(--tronko);
}

.case.tronko {
  padding-right: 0;
  padding-left: 0;
}

.aflow {
  background:
    radial-gradient(circle at 50% 0, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%), 
    radial-gradient(circle at 6.7% 75%, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%), 
    radial-gradient(circle at 93.3% 75%, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%);
}