/* 
 * Max widths 
 */

.mw666 { max-width: 666px }
.mw120 { max-width: 120%; }
.mw100 { max-width: 100%; }
.mw90  { max-width: 90%; }
.mw80  { max-width: 80%; }
.mw70  { max-width: 70%; }
.mw60  { max-width: 60%; }
.mw50  { max-width: 50% }
.mw45  { max-width: 45% }
.mw40  { max-width: 40% }

@media (--breakpoint-sm) {
  .mw60-sm { max-width: 60%; }
}

@media (--breakpoint-md) {
  .mw40-md { max-width: 40%; }
  .mw60-md { max-width: 60%; }
  .mw700-md { max-width: 700px; }
}