/*
 * Project page
 */

.project_article {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1080px;
}


/* Project sections */

.project_header,
.project_section {
  margin: 0 auto var(--space-double) auto;
  padding: 0 var(--space);
  max-width: 446px;
}

.project_title {
  line-height: 1.6;
}

.project_intro {
  color: var(--grey);
}


/* Project media */

.project_image,
.project_video {
  text-align: center;
}

.project_image {
  margin: var(--space)*1.5 0 var(--space) 0;
}

.project_video {
  margin: var(--space)*1.5 0 var(--space)*1.5 0;
}

@media (--sm) {
  .project_image {
    margin: var(--space-double) 0 var(--space)*1.5 0;
  }
  .project_video {
    margin: var(--space-double) 0 var(--space-double) 0;
  }
}


/* Project blockquote */

.project_blockquote {
  margin: 0 0 var(--space) 0;
  color: var(--grey);
  line-height: var(--line-height);
}

@media (--xs) {
  .project_blockquote-right, 
  .project_blockquote-left {
    width: 45%;
  }

  .project_blockquote-right {
    float: right;
    padding-left: var(--space);
  }

  .project_blockquote-left {
    float: left;
    padding-right: var(--space);
  }
}


/* Project media queries */

@media (--sm) {
  .project_article {
    padding-top: 100px;
  }
  .project_header,
  .project_section {
    margin-bottom: var(--space)*2.5;
    max-width: 538px;
  }
}

@media (--md) {
  .project_header,
  .project_section {
    margin-bottom: var(--space-triple);
    max-width: 638px;
  }
}