/*
 * Project page
 */

.project {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1080px;
}

.project_inner {
  overflow: hidden;
}


/* Project header and section */

.project_header {
  padding: 0 var(--space);
}

.project_section {
  padding: 0 var(--space) var(--space-double) var(--space);
}

.project_header-inner, .project_section-inner {
  margin: 0 auto;
  max-width: 446px;
}


/* Project header content */

.project_title {
  line-height: 1.6;
}

.project_intro {
  margin-bottom: var(--space);
  color: var(--grey);
}


/* Project section with floated image */

.project_section-float > .project_section-inner {
  overflow: hidden;
  padding: 0 var(--space);
  margin-bottom: var(--space-double);
  max-width: 100%;
}

.project_section-float > .project_section-inner > p {
  margin-right: auto;
  margin-left: auto;
  max-width: 446px;
}

.project_image {
  max-width: 100%;
  margin: 0 auto;
}

.project_image > figcaption {
  margin-left: 0;
  margin-bottom: var(--space);
}

@media (--xs) {
  .project_image-left,
  .project_image-right {
    width: 40%;
  }

  .project_image-left {
    float: left;
    padding-right: var(--space);
    width: 40%;
  }
  .project_image-right {
    float: right;
    padding-left: var(--space);
  }
}


/* Project blockquote */

.project_blockquote {
  margin: 0 0 var(--space) 0;
  color: var(--grey);
  line-height: 1.5;
}

@media (--xs) {
  .project_blockquote-right, 
  .project_blockquote-left {
    width: 40%;
  }

  .project_blockquote-right {
    float: right;
    padding-left: var(--space);
  }

  .project_blockquote-left {
    float: left;
    padding-right: var(--space);
  }
}

/* Project media queries */

@media (--sm) {
  .project {
    padding-top: 100px;
  }
  .project_header-inner, 
  .project_section-inner,
  .project_section-float > .project_section-inner > p {
    max-width: 638px;
  }
}