/*
 * Spacing
 */

 /* Background colors */
.bg-blue {
  background-color: var(--unibz);
}

.bg-red {
  background-color: var(--tronko);
}

.bg-orange {
  background-color: var(--spatial);
}

.bg-electricblue {
  background-color: var(--newsboy);
}

.bg-lightblue {
  background-color: var(--giggle);
}

.bg-deepred {
  background-color: var(--schnauze);
}

.bg-black {
  background-color: var(--black); 
}


 /* Text colors */
.white {
  color: var(--white);
}