/*
 * Spacing
 */

/* Padding */
.pam   { padding: 1rem; }

.ptl   { padding-top: 2rem; }

.pbl   { padding-bottom: 2rem; }
.pbxl  { padding-bottom: 4rem; }

.pvxs  { padding-top: .25rem; padding-bottom: .25rem; }
.pvs   { padding-top: .5rem; padding-bottom: .5rem; }
.pvl   { padding-top: 2rem; padding-bottom: 2rem; }
.pvxl  { padding-top: 4rem; padding-bottom: 4rem; }

.phs   { padding-left: .5rem; padding-right: .5rem; }
.phm   { padding-left: 1rem; padding-right: 1rem; }

@media (--breakpoint-sm) {
  .ptxl-sm { padding-top: 4rem; }
}

@media (--breakpoint-md) {
  .ptxxl-md { padding-top: 8rem; }
}


/* Margin */
.man     { margin: 0; }
.mtn     { margin-top: 0; }
.mts     { margin-top: 0.5rem; }
.mtm     { margin-top: 1rem; }
.mtl     { margin-top: 2rem; }
.mtxl    { margin-top: 4rem; }
.mtxxl   { margin-top: 8rem; }
.mt-m    { margin-top: -1rem; }
.mt-l    { margin-top: -2rem; }
.mt-xl   { margin-top: -4rem; }
.mt-xxl  { margin-top: -8rem; }

.mbn     { margin-bottom: 0; }
.mbxs    { margin-bottom: .25rem; }
.mbs     { margin-bottom: .5rem; }
.mbm     { margin-bottom: 1rem; }
.mbl     { margin-bottom: 2rem; }
.mbxl    { margin-bottom: 4rem; }

.mlxl    { margin-left: 4rem; }

@media (--breakpoint-sm) {
  .mt-xxxl-sm { margin-top: -16rem; }
}

@media (--breakpoint-md) {
  .mt-xl-md { margin-top: -4rem; }
}