/*
 * Spacing
 */

/* Padding */
.pam  { padding: 1rem; }
.ptl  { padding-top: 2rem; }
.pbl  { padding-bottom: 2rem; }
.pbxl { padding-bottom: 4rem; }

.pvs  { padding-top: .5rem; padding-bottom: .5rem; }
.pvl  { padding-top: 2rem; padding-bottom: 2rem; }
.phm  { padding-left: 1rem; padding-right: 1rem; }

@media (--breakpoint-sm) {
  .ptxl-sm { padding-top: 4rem; }
}

@media (--breakpoint-md) {
  .ptxxl-md { padding-top: 8rem; }
}


/* Margin */
.man   { margin: 0; }
.mtn   { margin-top: 0; }
.mts   { margin-top: 0.5rem; }
.mtm   { margin-top: 1rem; }
.mtl   { margin-top: 2rem; }
.mt-m  { margin-top: -1rem; }
.mt-l  { margin-top: -2rem; }
.mt-xl { margin-top: -4rem; }
.mbn   { margin-bottom: 0; }
.mbxs  { margin-bottom: .25rem; }
.mbm   { margin-bottom: 1rem; }
.mbl   { margin-bottom: 2rem; }

@media (--breakpoint-md) {
  .mt-xxl-md { margin-top: -8rem; }
}