/*
 * Text Align
 */


/* Center */
.tc {
  text-align: center;
}


/* Left */
.tl {
  text-align: left;
}


/* Right */
.tr {
  text-align: right;
}


@media (--breakpoint-md) {
  .tc-md { text-align: center; }
}