/*
 * Transform
 */


/* Rotate */
.rotate5 {
  transform: rotate(5deg) translateZ(0);
}

.rotate10 {
  transform: rotate(10deg) translateZ(0);
}

.rotate15 {
  transform: rotate(15deg) translateZ(0);
}

.rotate20 {
  transform: rotate(20deg) translateZ(0);
}

.rotate30 {
  transform: rotate(30deg) translateZ(0);
}

.rotate320 {
  transform: rotate(320deg) translateZ(0);
}

.rotate330 {
  transform: rotate(330deg) translateZ(0);
}

.rotate335 {
  transform: rotate(335deg) translateZ(0);
}

.rotate340 {
  transform: rotate(340deg) translateZ(0);
}

.rotate345 {
  transform: rotate(345deg) translateZ(0);
}

.rotate350 {
  transform: rotate(350deg) translateZ(0);
}

.rotate355 {
  transform: rotate(355deg) translateZ(0);
}