/*
 * Transform
 */


/* Rotate */
.rotate5 {
  transform: rotate(5deg);
}

.rotate10 {
  transform: rotate(10deg);
}

.rotate15 {
  transform: rotate(15deg);
}
 
.rotate-10 {
  transform: rotate(-10deg);
}

.rotate-30 {
  transform: rotate(-30deg);
}