/*
 * Variables
 */
:root {
  --white: #fff;
  --grey: #999;
  --grey-dark: #555;
  --black: #222;

  --unibz: #007be4;
  --newsboy: #00008c;
  --tronko: #fd7056;

  --space: 20px;
  --xs: 420px;
  --sm: 744px;
  --md: 966px;
  --lg: 1024px;
  --xl: 1280px;
}


/*
 * Selectors
 */
@custom-selector :--heading h1, h2, h3, .h1, .h2, .h3;

/*
 * Media queries
 */
@custom-media --bp-xs (width >= 420px);
@custom-media --bp-sm (width >= 744px);
@custom-media --bp-md (width >= 966px);
@custom-media --bp-lg (width >= 1024px);
@custom-media --bp-xl (width >= 1280px);