/*
 * Variables
 */
 
:root {
  /* Base colors */
  --white: #fff;
  --black: #111;

  /* Specific colors */
  --unibz: #007be4;
  --newsboy: #00008c;
  --tronko: #fd7056;
  --spatial: #ffb700;

  /* Typography */
  --font-family: 'NeueHaasUnicaPro-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --line-height: 1.6;
  --base-font-size: 16px;
}