/*
 * Variables
 */
:root {
  --grey: #999;
  --grey-dark: #555;
  --black: #222;
}

@custom-media --md (width >= 600px);

/*
 * Base
 */
body {
  margin: 0px;
  padding: 1.44rem;
  color: var(--black);
}

@media (--md) {
  body {
    padding: 2.88rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding: 4.32rem;
  }
}

/*
 * Typography
 */
@font-face {
  font-family: 'NeueHaasUnicaPro-Light';
  src: url('../../static/webfonts/2E4340_0_0.woff') format('woff');
}

body {
  font-family: 'NeueHaasUnicaPro-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  margin: 0 0 .72rem 0;
  font-size: 1em;
}

h2 {
  margin: 0;
  font-size: 1.44em;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.4;
}

a {
  color: #222;
  text-decoration: none;
}

p > a {
  padding-bottom: 1px;
  border-bottom: 1px solid #222;
}

/*
 * Header
 */
header {
  margin-bottom: 2.88rem;
}

@media (--md) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

/*
 * Navigation
 */
nav > a {
  color: var(--grey);
}

nav > a.active {
  color: var(--black);
}

nav > a:not(:first-child) {
  margin-left: 1rem;
}

/*
 * Main
 */
main {
  margin-bottom: 4.32rem;
}

main:last-child {
  margin-bottom: 0;
}

/*
 * Writing
 */
.writing__title {
  display: flex;
  justify-content: space-between;
}

.writing__title > time {
  width: 80px;
  text-align: right;
}

/*
 * Footer
 */
footer > a:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (min-height: 768px){
  footer {
    position: absolute;
    bottom: 1.44rem;
  }
}

@media screen and (min-width: 600px) and (min-height: 768px){
  footer {
    position: absolute;
    bottom: 2.88rem;
  }
}

@media screen and (min-width: 1280px) and (min-height: 768px){
  footer {
    position: absolute;
    bottom: 4.32rem;
  }
}