/*
 * Variables
 */
:root {
  --white: #fff;
  --grey: #999;
  --grey-dark: #555;
  --black: #222;

  --unibz: #007be4;
  --newsboy: #00008c;
  --tronko: #fd7056;
}

/*
 * Media queries
 */
@custom-media --sm (width >= 600px);
@custom-media --md (width >= 768px);
@custom-media --lg (width >= 1024px);
@custom-media --xl (width >= 1280px);

/*
 * Base
 */
body {
  margin: 0px;
  color: var(--black);
}

/*
 * Typography
 */
@font-face {
  font-family: 'NeueHaasUnicaPro-Light';
  src: url('../../static/webfonts/2E4340_0_0.woff') format('woff');
}

body {
  font-family: 'NeueHaasUnicaPro-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 1em;
}

h1{
  margin: 0 0 .72rem 0;
  line-height: 1.2;
}

h2 {
  margin: 0 0 2.88rem 0;
  line-height: 1.4;
}

h3 {
  margin: 0 0 .5rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.4;
}

a {
  color: var(--black);
  text-decoration: none;
}

figure {
  margin: 0;
  line-height: 0;
}

p > a {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--black);
}

/*
 * Header
 */
header {
  padding: 1rem 1rem 2rem 1rem;
  background-color: var(--unibz);
}

header > h1 {
  text-align: center;
}

header > h1 > a {
  color: var(--white);
}

header > nav {
  text-align: center;
}

@media (--sm) {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
}

/*
 * Navigation
 */
nav > a {
  color: var(--white);
}

nav > a.active {
  color: var(--black);
}

nav > a:not(:first-child) {
  margin-left: 1rem;
}

/*
 * Main
 */


/*
 * Writing page
 */
.writing__preview {
  display: flex;
  justify-content: space-between;
}

.writing__preview-date {
  width: 90px;
  text-align: right;
}

/*
 * Homepage
 */
.case:not(:first-of-type) {
  padding: 3rem 1rem 4rem 1rem;
}

.case:first-of-type {
  padding: 2rem 1rem 4rem 1rem;
}

.case > h3, .case > p {
  color: var(--white);
  text-align: center;
}

.case > h3 > a {
  color: var(--white);
}

.case > a > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.unibz {
  background-color: var(--unibz);
}

.newsboy {
  background-color: var(--newsboy);
}

.tronko {
  background-color: var(--tronko);
}

.case.tronko {
  padding-right: 0;
  padding-left: 0;
}

.aflow {
  background:
    radial-gradient(circle at 50% 0, rgba(255,0,0,.5), rgba(255,0,0,0) 70.71%), 
    radial-gradient(circle at 6.7% 75%, rgba(0,0,255,.5), rgba(0,0,255,0) 70.71%), 
    radial-gradient(circle at 93.3% 75%, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%);
}

/*
 * Article
 */
article > h1 {
  margin: 0 0 2rem 0;
  font-size: 1.44em;
}

article > time {
  color: var(--grey);
}

article > footnote {
  display: block;
  margin: 0 0 1rem 0;
  font-size: 0.85em;
}

/*
 * Footer
 */
footer {
  padding: 1rem;
  background-color: var(--newsboy);
}

footer > p {
  margin: 0;
  color: var(--white);
}