@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .inline-table {
    display: inline-table;
  }

  .writing-mode-rl {
    writing-mode: vertical-rl;
  }

  picture {
    display: block;
  }

  .underline-1 {
    text-decoration-thickness: 1px;
  }

  .underline-offset-2 {
    text-underline-offset: 2px;
  }

  .font-feature-aalt {
    font-feature-settings: 'aalt' on;
  }
}
