@font-face {
  font-family: "Styrene";
  src: url("../fonts/styrene.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.woff2") format("woff2"),
       url("../fonts/inter.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .writing-mode-sideways-lr {
      writing-mode: sideways-lr;
    }
    
    .writing-mode-sideways-rl {
      writing-mode: sideways-rl;
    }
  }

  picture {
    display: block;
  }

  .underline-2 {
    text-decoration-thickness: 2px;
  }

  .underline-offset-2 {
    text-underline-offset: 2px;
  }
}
