<div class="row-start-1 row-span-1 col-start-1 col-span-12 mb-4 lg:mb-16 xl:mb-24">
  {% if title %}
    <h2 class="tracking-tight text-4xl leading-none sm:-ml-1 sm:text-5xl sm:leading-none md:text-6xl md:leading-extra xl:text-7xl xl:leading-extra">
      {{ title | safe }}
    </h2>
  {% endif %}
</div>
<div class="row-start-1 row-span-1 col-start-13 col-span-12 mb-16 lg:mb-16 xl:mb-24">
  {% if summary %}
    <p class="text-xl leading-tight {% if description %}mb-8{% endif %} md:text-2xl md:leading-tight xl:text-3xl xl:leading-tighter">
      {{ summary }}
    </p>
  {% endif %}
  {% if description %}
    <p class="text-lg leading-tight xl:text-xl xl:leading-tight">
      {{ description }}
    </p>
  {% endif %}
</div>
