{% if project.data.image.ratio == "16/9" %} pb-16/9 {% endif %}
{% if project.data.image.ratio =="16/10" %} pb-16/10 {% endif %}
{% if project.data.image.ratio == "16/11" %} pb-16/11 {% endif %}
{% if project.data.image.ratio == "3/2" %} pb-3/2 {% endif %}
{% if project.data.image.ratio == "4/3" %} pb-4/3 {% endif %}
{% if project.data.image.ratio == "9/16" %} pb-9/16 {% endif %}
