---
title: Amin Al Hazwani
layout: default
---

{% include "blocks/design-ops.njk" %}
{% include "blocks/echo-show.njk" %}
{% include "blocks/design-system.njk" %}
{% include "blocks/fire-tv.njk" %}
<p class="leading-tight pb-32 p-4 text-2xl md:tracking-tight md:text-3xl lg:text-7xl lg:leading-none">
  Amin Al Hazwani worked as a graphic designer, web designer, event organizer, front-end developer, mobile interface designer, design system designer, product designer, and today is a design ops director. He designed a wide range of things, from icons to design systems. He organized design events and designed design orgs. He worked alone, in a duo, in a small team, in a medium-sized design agency, in a big distributed company. He literally tried it all.
</p>