---
title: Amin Al Hazwani
layout: default
---

{% for project in projects %}
  {% if project.width == "full" %}
    <div class="flow-root {% if project.height == "full" %}mb-32{% else %}mb-16{% endif %} px-2">
      <div class="float-left px-1 md:w-1/2">
        <div class="md:w-10/12 lg:w-4/5">
          <h2 class="font-normal mb-8 text-xl md:text-2xl lg:text-3xl xl:text-4xl">
            <a href="#">
              {{ project.title }}
            </a>
          </h2>
          <p class="mb-4 leading-snug text-l lg:text-xl xl:text-2xl">
            {{ project.description }}
          </p>
        </div>
      </div>
      <div class="float-left px-1 md:w-1/2">
        <img src="{{ project.imageurl }}" alt="{{ project.imagealt }}">
      </div>
    </div>
  {% else %}
    {% if (loop.index/2) | round * 2 == loop.index %}
      <div class="flow-root px-2 mb-8">
        <div class="float-left px-1 mb-8 md:w-1/2">
    {% else %}
      <div class="float-left px-1 md:w-1/2">
    {% endif %}
        <div class="float-left px-1 lg:w-1/2">
          <div class="md:w-11/12">
            <h2 class="font-normal mb-4 text-base md:text-xl">
              <a href="#">
                {{ project.title }}
              </a>
            </h2>
            <p class="leading-snug mb-2 text-sm md:text-base">
              {{ project.description }}
            </p>
          </div>
        </div>
        <div class="float-left px-1 lg:w-1/2">
          <img src="{{ project.imageurl }}" alt="{{ project.imagealt }}">
        </div>
      </div>
    {% if loop.last %}
      </div>
    {% else %}
    {% if (loop.index/2) | round * 2 != loop.index %}
      </div>
    {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

<div>
  <p class="leading-tight px-4 text-2xl md:text-3xl lg:text-7xl lg:leading-none">
    Amin Al Hazwani worked as a graphic designer, web designer, event organizer, front-end developer, mobile interface designer, design system designer, product designer, and today is a design ops director. He designed a wide range of things, from icons to design systems. He organized design events and designed design orgs. He worked alone, in a duo, in a small team, in a medium-sized design agency, in a big distributed company. He literally tried it all.
  </p>
</div>
